## python basics

here are some basic python operaions

In [1]:
2 == 3

False

In [2]:
xx = 2

In [3]:
2 == xx

True

In [4]:
x = 5

In [5]:
x

5

In [6]:
y = "My string"

In [7]:
x + 4

9

In [8]:
y+4

TypeError: can only concatenate str (not "int") to str

In [9]:
z="4"

In [10]:
y+z

'My string4'

In [11]:
type(x)

int

In [12]:
type(z)

str

In [14]:
zz = 5.1

In [15]:
type(zz)

float

In [16]:
x + zz

10.1

In [17]:
3241%2

1

In [18]:
2345%54

23

In [19]:
xx = "uwu"

In [20]:
xx = "this is a string"

In [21]:
xx.capitalize

In [22]:
xx

'this is a string'

In [23]:
xx = "Good night, sweet prince"

In [24]:
xx.capitalize()

'Good night, sweet prince'

In [25]:
xx.upper()

'GOOD NIGHT, SWEET PRINCE'

In [30]:
yy = ", and flights of angels sing thee to thy rest!"

In [29]:
xx+yy

'Good night, sweet prince,and flights of angels sing thee to thy rest!'

In [31]:
xx +yy

'Good night, sweet prince, and flights of angels sing thee to thy rest!'

In [32]:
?xx.title

In [33]:
xx*yy

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
help(xx.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [35]:
xx + yy

'Good night, sweet prince, and flights of angels sing thee to thy rest!'

In [36]:
newstring = "Mus musculus"

In [37]:
newstring.split()
#splits the string at spaces by default

['Mus', 'musculus']

In [38]:
newstring.split("u")
#remove leading and trailing white space

['M', 's m', 'sc', 'l', 's']

In [39]:
zz = "Now cracks a noble heart. "

In [42]:
horatio = zz+xx+yy

In [43]:
horatio

'Now cracks a noble heart. Good night, sweet prince, and flights of angels sing thee to thy rest!'

In [44]:
x

5

In [45]:
y

'My string'

In [46]:
mylist = [x,y]

In [47]:
type(mylist)

list

In [48]:
mylist

[5, 'My string']

In [49]:
type(horatio)

str

In [50]:
s = "WHEN on board H.M.S Beagle as naturalist"

In [52]:
s.count()

TypeError: count() takes at least 1 argument (0 given)

In [56]:
s.count()

0

In [58]:
s.replace("WHEN", "When")

'When on board H.M.S Beagle as naturalist'

In [59]:
?s.count

In [60]:
s.lower

In [63]:
s.lower:
    s.count("b")

SyntaxError: invalid syntax (<ipython-input-63-0ef3fdddf2d9>, line 1)

In [68]:
s.lower().count("b")%.37

0.15000000000000002